<div class="videoBlockContainer" style="text-align : left;">
	<div class="videoBlock" style="height: 0px; padding-bottom: 100.000%;">
		<video loop autoplay muted playsinline playsInline id="homeVideo" data-home-video width="320" height="320">
		  <source src="{{ video_url }}" type="video/mp4">
		</video>
		<!-- <img id="playButton" data-play-button src="https://cdn.shopify.com/s/files/1/2598/9270/files/play-button.png?1662267898868145237" /> -->

	</div>
</div>
